.navbar-brand{

}

h1 {
    color: black;
}
h1#logo {
    font-family: MerriweatherBold;
    font-size: 24px;
    color: #000;
    
}

h1#logoTwo {
    font-family: Merriweather;
    font-size: 24px;
   margin-bottom: 10px;
}
  
  .button {
    height: 40px;
    padding: 0px 10px;
    font-family: ComfortaaLight;
    font-size: 18px;
    color: white;
    background-color: #68160e
  }
  
  .button:hover {
    filter: brightness(120%);
  }
  
  .button:active {
    filter: brightness(80%);
  }
  
a {
    color: black;
}

.navbar {
    background-color: white;
    
}