.navbar {
  border-bottom: 0.5px solid #ededed;
  padding: 0px 16px;
}

.logo {
    font-family: Merriweather;
    font-size: 24px;
    color: black;   
}

a.logoLink:hover {
  text-decoration: none;
}
  
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #68160e;
  filter: brightness(120%);
}

a.nav-link-style {
  color: black;
}

a.nav-link-style:hover {
  color: #68160e;
  filter: brightness(140%);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #68160e;
  filter: brightness(140%);
}

.favorites {
  color: black;
}

.favorites:hover {
  color: #68160e;
  fill: #68160e;
  filter: brightness(140%);
}

.drink-icon-nav {
  margin-top: 15px;
  height: 100%;
  position: relative;
  top: -2px;
}

.navbar-toggler {
  border: none;
}