.card {
    margin: 1rem;
    position: relative;
    border-radius: 10px;
    max-width: 500px;
    min-width: 350px;
    overflow: hidden;
  }

  .card-image-top {
    max-width: 100%;
    max-height: auto;
  }
  
  .card > .content {
    margin-top: 2.5px;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
    height: 150px;

  }

  /* .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  } */

  .drinkName {
    color: black;
  }
/*   
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  } */
  