.acctDiv {
  margin-top: 100px;
}

.form-control {
  border-radius: 0;
  border: 0.5px solid #ededed;
}

.toRegister {
  color: #68160e;
  cursor: pointer;
}

.toRegister:hover {
  color: #68160e;
  filter: brightness(140%);
  text-decoration: underline;
}